
/*login*/

/*login*/
.table thead tr{
    background-color: #F4FDFF;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #000000;
    background-color: #ffffff;
    border-radius: 10px;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #d6f5fc;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
.tabcontent {
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 6px 12px;
    width: 100%;
    border: 1px solid #ccc;
    border-top: none;
}

.tabcontent.active{
    display: flex;
}
.cont-tab{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 40px;
}

.dataTables_filter label input{
    width: 300px;
   /* border: none;
    border-bottom: solid 3px black;*/
}
  
.btn-primary{
    padding: 5px;
    text-align: center;
    background-color: #87e9ff;
    border: 1px solid #87e9ff;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
}
.btn-primary i{
    color: #7ed7eb;;
}
.btn-primary:hover{
    background-color: #7ed7eb;
    border: 1px solid #7ed7eb;
}

.btn-primary:hover i{

 color: white;
}


.dataTables_wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.dt-buttons{
    display: flex;
    gap: 10px;
}

.buttons-copy{
    cursor: pointer;
    padding: 5px;
    color: rgb(0, 0, 0);
    background: white;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;  
    transition: background 0.2s ;
}

.buttons-excel{
    cursor: pointer;
    padding: 5px;
    color:rgb(8, 95, 0);
    background: white;
    border: 1px solid rgb(8, 95, 0);
    border-radius: 5px;  
    transition: background 0.2s ;
}
.buttons-pdf{
    cursor: pointer;
    padding: 5px;
    color:rgb(175, 0, 0);
    background: white;
    border: 1px solid rgb(175, 0, 0);
    border-radius: 5px;  
    transition: background 0.2s ;
}
.buttons-print{
    cursor: pointer;
    padding: 5px;
    color:rgb(41, 159, 255);
    background: white;
    border: 1px solid rgb(41, 159, 255);
    border-radius: 5px;  
    transition: background 0.2s ;
}

.buttons-copy:hover{
   
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);

}
.buttons-excel:hover{
   
    color: rgb(255, 255, 255);
    background: rgb(8, 95, 0);
    border: 1px solid rgb(8, 95, 0);

}

.buttons-pdf:hover{
   
    color: rgb(255, 255, 255);
    background: rgb(175, 0, 0);
    border: 1px solid rgb(175, 0, 0);

}
.buttons-print:hover{
   
    color: rgb(255, 255, 255);
    background: rgb(41, 159, 255);
    border: 1px solid rgb(41, 159, 255);

}

.odd{
    height: 50px;
}
.odd:nth-child(even) {
    background-color: #f2f2f2; /* Fondo más claro */
}
  

.odd:nth-child(odd) {
    background-color: #dddddd36; /* Fondo más oscuro */
}

.dataTables_paginate {
    display: flex;
    gap: 10px;
}
.dataTables_paginate a {
    color: white;
}
#tblPendientes_next,#tblPendientes_previous{
    cursor:pointer;
    color: white;
    background-color: #F4FDFF;
    border: 1px solid #F4FDFF;
    border-radius: 10px;
    transition: background 0.3s;
}

#tblPendientes_next:hover,#tblPendientes_previous:hover{
    color: white;
    background-color: #bbecf7;
    border: 1px solid #bbecf7;
}
.tr-tabla-pago{
 background-color: #F4FDFF;

}

.dataTables_wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#pay{
    display: flex;
}

.paginate_button{
    background-color: transparent;
    border-radius: 15px;
    border: 1px solid ;
}

/*modall*/
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-btn-cont{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 20px;

}

.services-icon-wap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 150px;
    height: 150px;
    padding: 10px;
    background-color: white;
    border: 1px solid #87e9ff;
    border-radius:15px;
    transition: 0.3s;
}

.services-icon-wap:hover{
    
    background-color: #7ed7eb;
    border: 1px solid #7ed7eb;
   
}
.text-success i{
    color:#87e9ff ;
}

.services-icon-wap .h2-modal{
    color:  #87e9ff;
    font-size: 20px;
} 

.services-icon-wap:hover .text-success i{
    color:#ffffff ;
}

.services-icon-wap:hover  .h2-modal{
    color:  #ffffff;

} 

   /* The Modal (background) */
   .modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    display: none;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #000000;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/*modall*/

.d-flex{

    display: flex;
    justify-content: center;
    align-items: center;
   gap: 20px;
}

.d-flex{
    display: flex;
    gap: 5px;
}
.modal-header{
    color: white;
}
.modal-header .btn-close{
    color: white;
}

.separar{
    margin-top: 20px;
    margin-bottom: 20px;
}